##
## Configuration file sourced for completeScan.sh
##

## Maximum ROOT files per processor to hold
RootFileLimit=10

## TUNE SETTINGS (Beam Energy in GeV, Magnets in Teslas) ##
BeamEnergy=4.2
#Q1tune=-0.3
#Q2tune=-0.3
#Q3tune=0.3
#Q4tune=0.3
Q1tune=-0.09
Q2tune=0.0
Q3tune=0.1
Q4tune=0.21
DPtune=0.64
SLtune=4.0

DesiredFocusingMinimum=-10
DesiredFocusingMaximum=10

## SCANS TO BE PERFORMED Q1/Q2/Q3/Q4/DP (Example "Q1Q2Q4DP" ##
#SCANS="Q1Q2Q3Q4DP"
SCANS="Q2"

## (Note: You don't have to remove numbers if you're not scanning, bash script doesn't care ##
## SCAN INCREMENT INFORMATION (How many times +/- to perform the increment) ##
Q1IncrementNumber=10
Q2IncrementNumber=15
Q3IncrementNumber=12
Q4IncrementNumber=12
DPIncrementNumber=10
Q1IncrementValue=0.01
Q2IncrementValue=0.02
Q3IncrementValue=0.025
Q4IncrementValue=0.025
DPIncrementValue=0.03
#Q1IncrementValue=0.025
#Q2IncrementValue=0.025
#Q3IncrementValue=0.025
#Q4IncrementValue=0.025
#DPIncrementValue=0.01

## NUMBER OF EVENTS PER SCAN ##
NumberOfEvents=50000

## NUMBER OF AVAILABLE PROCESSORS TO HANDLE THE JOBS - DON'T EXCEED AVAILABILITY ##
NProc=2

## KINEMATICS ##
ThetaMin=65
ThetaMax=115
PhiMin=-26
PhiMax=20

## OPTIONS ('true' or 'false') ##
Levchuk="false"
RemollMS="false"
RadCorr="false"
